<div class="d-flex justify-content-center">
    <!-- Formata o numero do pomodora para o padrao 00:00 -->
    <span class="display-1 pomodoro-time">{{minutos}}:{{!segundos? segundos + "0" : segundos}}</span>
</div>
<div class="w-100 text-center">
    <ng-container *ngIf="!rodando; then thenTemplate; else elseTemplate"></ng-container>
    <ng-template #thenTemplate>
        <button #btnIniciar (click)="iniciar()" type="button" class="btn-iniciar">Iniciar</button>
    </ng-template>
    <ng-template #elseTemplate>
        <button #btnIniciar (click)="pausar()" type="button" class="btn-iniciar">Pausar</button>
    </ng-template>

</div>
<div class="w-100 d-flex justify-content-end">
    <button class="btn btn-info" (click)="reiniciar()">Reiniciar</button>
</div>