.pomodoro-time{
    color: var(--text-menu) !important;
}

.btn-iniciar{
    background-color: var(--btn-color);
    color: var(--text-btn) !important;
    border-radius: 5px;
    padding: 20px 5px 20px 5px;
    cursor: pointer;
    width: 30%;
    font-size: 36px;
    outline: none;
    border: none;
}
